### Q1. Pandas version

In [31]:
import pandas as pd

pd.__version__

'2.3.3'

### Q2. Records count

In [32]:
import requests

url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

r = requests.get(url, allow_redirects=True)

with open('Data/car_fuel_efficiency.csv', 'wb') as f:
    f.write(r.content)
    
r.status_code

200

In [33]:
df= pd.read_csv('Data/car_fuel_efficiency.csv')
df.shape

(9704, 11)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [35]:
df.head(3)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341

### Q3. Fuel types

In [36]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

### Q4. Missing values

In [37]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5. Max fuel efficiency

In [38]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

### Q6. Median value of horsepower

In [39]:
# Median horsepower
print(df['horsepower'].mean())

# Most frequent value
print(df['horsepower'].mode())

# Fill missing values with the most frequent value
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])

# Recalculate the mean
print(df['horsepower'].mean())

149.65729212983547
0    152.0
Name: horsepower, dtype: float64
149.82821516900248

### Q7. Sum of weights

In [60]:
import numpy as np

df_weight = df[df['origin'] == 'Asia'][['vehicle_weight','model_year']].reset_index(drop=True)
df_weight.head(7)

   vehicle_weight  model_year
0     2714.219310        2016
1     2783.868974        2010
2     3582.687368        2007
3     2231.808142        2011
4     2659.431451        2016
5     2844.227534        2014
6     3761.994038        2019

In [69]:
X = df_weight.head(7).to_numpy()
XTX = X.T@X
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = np.linalg.inv(XTX) @ X.T @ y 
print(w)
w.sum()

[0.01386421 0.5049067 ]

np.float64(0.5187709081074016)